body{
    
    background: #6DD5FA;  
    
    
    margin: 0px;
    font-family: 'DM Serif Display', serif;
}
h1{
    text-align: center;
    color:pink;
    background-color: rgb(143, 154, 218);
    margin:0px;
    font-weight: 800;
}
#controls{
 padding-top:9px;
}
.ss{
    display: none;
}

  

  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  

  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
 
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  

  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
.square{
    width:30%;
    background-color:pink;
   padding-bottom: 30%;
   float: left;
   margin: 1.66%;
   transition: background 1.5s;
   border-radius: 85%;
}
#container{
    margin: 0 auto;
    max-width: 600px;
}
#message{
    align-content: center;
}
#controls{
    color: black;
    background-color:white;
    height: 30px;
    text-align: center;
}
.selected{
    background-color:pink;
}
#value{
    font-size:50px;
}
button{
    padding: 0px;
    border: #FE9C8F;
    height: 100%;
    color: none;
    background: none;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 1px;
    transition: all 0.5s;
    outline: none;

}
button:hover{
    color: bisque;
    background:steelblue
}
#controls{
    margin: 0px;
    padding: 0px;
}
#message{
    padding-left:45px;
    padding-right: 45px;
}
#butt{
    
    float: left;
  margin-left:20px;
  margin-right:20px;
 
}
#hard{
    margin-left: 20px;
}
#easy{
    margin-left:20px;
}
.footer{
    color:white;
    text-align: center;

}
